body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

.container{
    
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 600px;
    flex-shrink: 0;
    
    
}
.newBoxH{
    width: 10px;
display: flex;
flex-grow: 1;
}

.donotdisplay{
    display: none;
    /* huh */
    font-size: 5px;
}